<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit article</title>
</head>
<body>
<h1>Edit article</h1>
<p>
    <a href="/article/view">Article list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/article/update}" th:object="${article}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Writer:</td>
            <td><input type="text" th:field="*{writer}"/></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" th:field="*{date}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Article"></td>
        </tr>
    </table>
</form>
</body>
</html>